<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/create-edit.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<header th:replace="~{header-footer/layout-header-loggedin :: header}"></header>

<main>
    <div class="wrapper">
        <a th:href="@{/pm-dashboard/{pmUserID}(pmUserID=${pmUserID})}" id="back"><i class='bx bx-arrow-back'></i></a>
    <form th:action="@{/projects/saveProject}" th:object="${obj}" method="post">
        <input type="hidden" name="pmUserID" th:value="${pmUserID}">
        <h1>Create a Project</h1>
        <hr>
        <div class="input-box">
            <input type="text" id="projectName" name="projectName" placeholder="Enter Project Name" th:field="*{projectName}" required>
            <i class='bx bx-clipboard'></i>
        </div>

        <div class="input-box" id="box1">
            <input type="date" id="startDate" name="startDate" placeholder="Enter Start Date" th:field="*{startDate}" required>
        </div>
        <div class="input-box" id="box2">
            <input type="date" id="deadLine" name="deadLine" placeholder="Enter Deadline" th:field="*{deadLine}" required>
        </div>

        <div class="input-box">
            <textarea id="projectDescription" name="projectDescription" placeholder="Enter Project Description" th:field="*{projectDescription}" required></textarea>
            <i class='bx bx-text' ></i>
        </div>

        <button type="submit" class="btn">Create Project</button>
    </form>
    </div>

</main>
<footer th:replace="~{header-footer/layout-footer :: footer}"></footer>
</body>
</html>