<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/create-edit.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header th:replace="~{header-footer/layout-header-notloggedin :: header}"></header>
<main>
    <div class="wrapper" id="wrapperSecondform">
        <a href="/pm-dashboard/1" id="back"><i class='bx bx-arrow-back'></i></a>
        <form th:action="@{/subTasks/saveSubTask}" th:object="${obj}" method="post">
            <input type="hidden" th:field="*{taskID}">
            <h1>Create a Sub-Task</h1>
            <hr>
            <div class="input-box">
                <input type="text" id="subTask" name="subTaskName" placeholder="Enter Sub-Task Name" th:field="*{subTaskName}" required>
                <i class='bx bx-clipboard'></i>
            </div>

            <div class="input-box" id="box1">
                <input type="date" id="startDate" name="startDate" placeholder="Enter Start Date" th:field="*{startDate}" required>
            </div>
            <div class="input-box" id="box2">
                <input type="date" id="EndDate" name="EndDate" placeholder="Enter EndDate" th:field="*{endDate}" required>
            </div>

            <div class="input-box">
                <input type="text" id="time" name="time" placeholder="Enter estimated time spent on this sub-task" th:field="*{time}" required>
                <i class='bx bx-time'></i>
            </div>

            <div class="input-box">
                <input type="text" id="skillRequirement" name="skillRequirement" placeholder="Skills needed to do sub-task" th:field="*{skillRequirement}" required>
                <i class='bx bx-cog'></i>
            </div>

            <div class="input-box">
                <textarea id="subTaskDescription" name="subTaskDescription" placeholder="Enter Sub-Task Description" th:field="*{subTaskDescription}" required></textarea>
                <i class='bx bx-text' ></i>
            </div>

            <label for="employeeID">Assign employee (optional):</label>
            <select id="employeeID" name="employeeID">
                <option value="">No employee</option>
                <option th:each="employee : ${employeeList}" th:value="${employee.getEmployeeID()}" th:text="${employee.getEmployeeName()}"></option>
            </select>

            <button type="submit" class="btn">Create Sub-Task</button>
        </form>
    </div>
</main>
<footer th:replace="~{header-footer/layout-footer :: footer}"></footer>

</body>
</html>