<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <form th:action="@{/saveSubProject}" th:object="${obj}" method="post">
        <input type="hidden" th:field="*{fkProjectID}">
        <label for="subProjectName">Sub-Project Name</label>
        <input type="text" id="subProjectName" name="subProjectName" th:field="*{subProjectName}" required>
        <br><br>

        <label for="subProjectDescription">Sub-Project Description:</label>
        <textarea id="subProjectDescription" name="subProjectDescription" th:field="*{subProjectDescription}" required></textarea>
        <br><br>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" th:field="*{startDate}" required>
        <br><br>

        <label for="EndDate">Enddate:</label>
        <input type="date" id="EndDate" name="EndDate" th:field="*{endDate}" required>
        <br><br>

        <button type="submit">Create Sub-Project</button>


    </form>


</main>

</body>
</html>