<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/create-edit.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<main>
    <div class="wrapper">
        <form th:action="@{/subProjects/saveSubProject}" th:object="${obj}" method="post">
            <input type="hidden" th:field="*{fkProjectID}">
            <h1>Create a Sub-Project</h1>
            <div class="input-box">
                <input type="text" id="subProjectName" name="subProjectName" placeholder="Enter Sub-Project Name" th:field="*{subProjectName}" required>
                <i class='bx bx-clipboard'></i>
            </div>

            <div class="input-box">
                <textarea id="subProjectDescription" name="subProjectDescription" placeholder="Enter Sub-Project Description" th:field="*{subProjectDescription}" required></textarea>
                <i class='bx bx-text' ></i>
            </div>
            <div class="input-box">
                <input type="date" id="startDate" name="startDate" placeholder="Enter Start Date" th:field="*{startDate}" required>
            </div>
            <div class="input-box">
                <input type="date" id="EndDate" name="EndDate" placeholder="Enter EndDate" th:field="*{endDate}" required>
            </div>

            <button type="submit" class="btn">Create Project</button>
        </form>
    </div>

</main>

</body>
</html>