<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <form th:action="@{/updateSubProject}" th:object="${subProject}" method="post">
        <input type="hidden" name="subProjectID" th:value="${subProject.subProjectID}">
        <input type="hidden" name="fkProjectID" th:value="${subProject.fkProjectID}">
        <h1>Edit project</h1>
        <section class="input-field">
            <label for="subProjectName">Edit Project Name</label>
            <input type="text" id="subProjectName" name="subProjectName" th:field="*{subProjectName}" required>
            <br><br>

            <label for="subProjectDescription">Edit Project Description:</label>
            <textarea id="subProjectDescription" name="subProjectDescription" th:field="*{subProjectDescription}" required></textarea>
            <br><br>

            <label for="startDate">Edit Start Date:</label>
            <input type="date" id="startDate" name="startDate" th:field="*{startDate}" required>
            <br><br>

            <label for="endDate">Edit Deadline:</label>
            <input type="date" id="endDate" name="endDate" th:field="*{endDate}" required>
            <br><br>

            <button type="submit">Finish</button>
        </section>
    </form>



</main>

</body>
</html>