<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<main class="container">
    <header th:replace="~{header-footer/layout-header-notloggedin :: header}">
    </header>

    <section class="image-banner">
        <img class="image-front-page" src="/images/banner.png" alt="banner-logo">
    </section>


<footer th:replace="~{header-footer/layout-footer :: footer}">

</footer>
</main>
</body>
</html>