<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header th:replace="~{header-footer/layout-header-notloggedin :: header}"></header>
<section>
    <div class="containerLogin">

        <div class="icon-column">
            <img src="/images/image-back.png" alt="">
        </div>

        <div class="form-column">
            <div class="wrapper">
                <h1>Login</h1>
                <hr>
                <form th:action="@{/loginValidation}" method="post">
                <div class="input-box">
                    <label for="mail">Mail</label>
                    <input id="mail" type="email" name="mail" placeholder="Enter Email"  required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" placeholder="Enter Password"
                           required minlength="16" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).*$">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn">Login</button>
                </form>
            </div>

        </div>
    </div>
</section>

<footer th:replace="~{header-footer/layout-footer :: footer}"></footer>
</body>
</html>