<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PM Dashboard</title>
</head>
<body>
<h1>PM Dashboard</h1>
<table>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>SubProject Name</th>
        <th>Task Name</th>
        <th>SubTask Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Estimated Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="projectDTO : ${dashboardData}">
        <td th:rowspan="${#lists.size(projectDTO.subProjects) > 0 ? #lists.size(projectDTO.subProjects) : 1}"
            th:text="${projectDTO.projectName}"></td>
            <tr th:each="subProjectDTO : ${}"
                <td th:rowspan="${#lists.size(subProjectDTO.tasks) > 0 ? #lists.size(subProjectDTO.tasks) : 1}"
                    th:text="${subProjectDTO.subProjectName}"></td>
            <td th:each="taskDTO : ${}"
                th:rowspan="${#lists.size(taskDTO.subtasks) > 0 ? #lists.size(taskDTO.subtasks) : 1}"
                th:text="${taskDTO.taskName}"></td>
            <td th:each="subTaskDTO : ${taskDTO.subtasks}" th:text="${subTaskDTO.subTaskName}"></td>
        <tr>
    </tr>
    </tbody>
</table>
</body>
</html>