<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PM Dashboard</title>
    <link rel="stylesheet" href="/style.css">
<!--
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            margin-top: 20px;
        }
    </style>
-->
</head>
<body>

<header th:replace="~{header-footer/layout-header-loggedin :: header}"></header>

<h1>PM Dashboard</h1>

<form method="get" th:action="@{/pm-dashboard/filter}">
    <label for="filter">Choose a filter:</label>
    <select id="filter" name="filterProjects" required>
        <option value="">Select Filter</option>
        <option th:each="filter : ${filterList}" th:value="${filter}" th:text="${filter}"></option>
    </select>
    <button type="submit">Apply Filter</button>
</form>


<h2>Projects</h2>
<table>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th>Total Sum Time</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${data.getProjectList()}">
        <td th:text="${project.getProjectName()}"></td>
        <td th:text="${project.projectDescription}"></td>
        <td th:text="${project.getStartDate()}"></td>
        <td th:text="${project.getDeadLine()}"></td>
        <td th:text="${project.getTotalTime()}"></td>
    </tr>
    </tbody>
    <a th:href="@{../projects/CreateProject}">Add</a>
    <a th:href="@{/projects/edit-project/{projectID}(projectID=${project.projectID})}">Edit Project</a>
    <form th:action="@{/projects/delete-project/{projectID}(projectID=${project.getProjectID()})}" method="post">
        <button type="submit">Delete project</button>
    </form>

</table>

<!-- Table for SubProjects -->
<h2>SubProjects</h2>
<div>
    <button type="button" onclick="toggleVisibility('SubProjects')">
        Toggle SubTask Table
    </button>
</div>

<table id="SubProjects">
    <thead>
    <tr>
        <th>Belongs to Project</th>
        <th>SubProject Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Sum Time</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="subProject : ${data.getSubProjectList()}">
        <td th:text="${subProject.getFilter()}"></td>
        <td th:text="${subProject.getSubProjectName()}"></td>
        <td th:text="${subProject.getSubProjectDescription()}"></td>
        <td th:text="${subProject.getStartDate()}"></td>
        <td th:text="${subProject.getEndDate()}"></td>
        <td th:text="${subProject.getSumTime()}"></td>
    </tr>
    </tbody>
</table>

<!-- Table for Tasks -->
<h2>Tasks</h2>
<div>
    <button type="button" onclick="toggleVisibility('TaskTable')">
        Toggle SubTask Table
    </button>
</div>

<table id="TaskTable">
    <thead>
    <tr>
        <th>Belongs to Project</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Estimated Time</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${data.getTaskList()}">
        <td th:text="${task.getFilter()}"></td>
        <td th:text="${task.getTaskName()}"></td>
        <td th:text="${task.getTaskDescription()}"></td>
        <td th:text="${task.getStartDate()}"></td>
        <td th:text="${task.getEndDate()}"></td>
        <td th:text="${task.getEstimatedTime()}"></td>
    </tr>
    </tbody>
</table>

<!-- Table for SubTasks -->
<h2>SubTasks</h2>

<div>
    <button type="button" onclick="toggleVisibility('subTaskTable')">
        Toggle SubTask Table
    </button>
</div>

<table id="subTaskTable">
    <thead>
    <tr>
        <th>Belongs to Project</th>
        <th>SubTask Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Estimated Time</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="subTask : ${data.getSubTaskList()}">
        <td th:text="${subTask.getFilter()}"></td>
        <td th:text="${subTask.getSubTaskName()}"></td>
        <td th:text="${subTask.getSubTaskDescription()}"></td>
        <td th:text="${subTask.getStartDate()}"></td>
        <td th:text="${subTask.getEndDate()}"></td>
        <td th:text="${subTask.getTime()}"></td>
    </tr>
    </tbody>
</table>


<script>
    function toggleVisibility(tableId) {
        const table = document.getElementById(tableId);
        if (table.style.display === "none" || table.style.display === "") {
            table.style.display = "table";
        } else {
            table.style.display = "none";
        }
    }
</script>

<footer th:replace="~{header-footer/layout-footer :: footer}"></footer>

</body>
</html>