<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:fragment="header">
    <nav class="navigation">
        <section class="left-container">
            <a class="home-link" th:href="@{/index}">
                <img class="logo-link" src="/images/image-back.png" alt="logo">
            </a>
            <img class="text-logo" src="/images/text-back.png" alt="text-Logo">
        </section>
        <ul class="right-links">
            <a th:href="@{/index}">Home</a>
            <a th:href="@{/sustainability}">Sustainability</a>
            <a class="create-user-link" th:href="@{/CreateEmployee}">Create Employee</a>
            <a class="login-link" th:href="@{/logout}">Logout</a>
        </ul>
    </nav>
</header>
</body>
</html>