body {
    background: lightgray;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.input-box {
    margin: 5px 0;
}

.wrapper h1{
    margin: 30px 0;
}

.wrapper {
    height: 600px;
    width: 800px;
    border-radius: 10px;
    background: white;
}

.input-box input, textarea{
    width: 570px;
    height: 50px;
    margin: 20px 0;
    background: whitesmoke;
    border-radius: 10px;
    font-size: 15px;
    border: 1.4px solid black;
    padding-left: 40px;
    padding-right: 40px;
}

.input-box textarea {
    resize: none;
}

.input-box i {
    position: absolute;
    margin-top: 37px;
    margin-left: -63px;
}

.btn{
    background: black;
    color: white;
    height: 40px;
    width: 657px;
    border-radius: 20px;
    font-size: 17px;
    border: 0;
    margin: 20px;
    cursor: pointer;
}

.btn:hover{
    background: lightgray;
    color: black;
    border: 1.4px solid black;
    transition: 0.5s;
}


.wrapper hr{
    width: 85%;
    margin-bottom: 20px;
}

#box1, #box2 {
    display: inline-block;
}
#box1 input, #box2 input{
    width: 240px;
}

.input-box textarea{
    padding-top: 15px;
    height: 80px;
}
